.update {
   
}
.wrapper {
   padding: 30px;
   border: 1px solid rgba(0, 0, 0, 0.5);
   border-radius: 14px;
   display: flex;
   justify-content: center;
   max-width: 78%;
   width: 100%;
}
.update__form {
   display: flex;
   position: relative;
}
.update__form-wrapper {
   display: flex;
   flex-direction: column;
   margin-right: 20px;
}
.update__inner {
   display: flex;
}
.update__label {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   
   & span {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 5px;
      
   }
   &:first-child {
      margin-right: 20px;
   }
}
.update__input {
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 5px;
   padding: 20px;
}
.update__wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.update__textarea {
   resize: none;
   height: 160px;
   margin-right: -20px;
}
.update__btn {
   padding: 13px 50px;
   border: none;
   background: #0088DC;
   border-radius: 8px;
   
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   cursor: pointer;
} 
.err__update {
   position: absolute;
   bottom: 10px;
   left: 0;
}