.social__form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}
.social__input {
   min-width: 290px;
   width: 100%;
}
.social__list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.social__item {
   width: 40%;
}
.err__social {
   position: absolute;
   bottom: -30px;
   right: 0;
}