  .register__form {
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.1);
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
   border-radius: 10px;
   padding: 63px 40px;
   display: flex;
   flex-direction: column;
 }
 
 .register__title {
   text-align: center;
   margin-top: 0;
   margin-bottom: 30px;
   font-weight: bold;
   font-size: 36px;
   line-height: 48px;
   color: #000000;
 }
 .register__form-top {
   display: flex;
   align-items: center;
   max-width: 100%;
   width: 100%;
 }
 
 .register__form-top .register__form-input {
   margin-right: 10px;
 }
 .register__form-top .register__form-input.last {
   margin-right: 0px;
 }
 
 .register__form-label {
   margin-top: 0;
   margin-bottom: 5px;
 }
 .register__form-input { 
   padding: 10px 20px;
   border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, 0.5);
   margin-bottom: 10px;
   border-radius: 5px;
   font-weight: 600;
   font-size: 16px;
   line-height: 21px;
   color: #000000;
   opacity: 0.5;
   font-family: "Poppins", sans-serif;
 }
 .register__form-button {
   padding: 10px;
   border: none;
   font-size: 16px;
   line-height: 24px;
   color: #ffffff;
   background-color: #0088dc;
   border-radius: 8px;
   font-family: "Poppins", sans-serif;
 }
 .register__form-desc {
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: rgb(0, 0, 0);
 }
 .register__form-link-auth {
   display: inline-block;
   vertical-align: baseline;
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-weight: bold;
   color: dodgerblue;
 }
 .reg-in {
   display: flex;
   flex-direction: column     ;
 }